.bg-yopo-red {
  background-color: #343a40 !important;
}

body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.w-80px {
  width: 80px !important;
}

.mg-t-n5px {
	margin-top: -5px !important;
}
.mg-b-10px {
	margin-bottom: 10px !important;
}

a {
	color: #000000 !important;
	text-decoration: underline !important;
}

a:hover {
	color: #d93915 !important;
	font-weight: bold;
}

.font-size-mid {
	font-size: 1rem;
}