<p class="card-text">
    {% for link in site.data.profile %}
    <a href="{{link.href}}" class="d-flex align-items-center mb-1">
        <span class="icon grey mr-3">
            {% include {{link.icon}} %}
        </span>
        {{link.caption}}
    </a>
    {% endfor %}
    <a href="href="mailto:someone@example.com?Subject=Feedback%20for%20Yopolazi" target="_top"" class="d-flex align-items-center mb-1">
      <span class="icon grey mr-3">
          {% include entypo/mail.svg %}
      </span>
      customer@yopolazi.com
    </a>
</p>
