<h3>Stay Connected</h3>
<p class="card-text">
    {% for link in site.data.profile %}
    <a href="{{link.href}}" class="d-flex align-items-center mb-1" target="_blank" >
        <span class="icon grey mr-3">
            {% include {{link.icon}} %}
        </span>
        {{link.caption}}
    </a>
    {% endfor %}
    <a href="http://eepurl.com/dc1F5P" class="d-flex align-items-center mb-1">
      <span class="icon grey mr-3">
          {% include entypo/rss.svg %}
      </span>
      Monthly Recipe
    </a>
</p>
