{% if page.show_profile %}
    <div class="card mg-b-10px">
        <div class="card-body">
            <h3>Buy Online</h3>
            {% include components/profile-buy.html %}
        </div>
    </div>
    <div class="card mg-b-10px">
        <div class="card-body">
            <h3>Let's Talk</h3>
            {% include components/profile-body.html %}
        </div>
    </div>
{% endif %}

{% if page.show_tags %}
    {% include components/all-tags.html %}
{% endif %}

{% if page.show_skills %}
    {% include components/all-skills.html %}
{% endif %}

{% if page.path contains '_projects' %}
    {% include components/project-meta.html %}
{% endif %}

{% if page.path contains '_posts' %}
    {% include components/post-meta.html %}
{% endif %}

{% if page.path contains '_portfolio' %}
    {% include components/portfolio-meta.html %}
{% endif %}

